name: Generate snake animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake.svg?color_bg=#120A24&color_snake=#423170&color_dots=#E0BBE4,#CBAEDB,#A68CBE,#FF5FA2,#7A003C
            dist/snake-dark.svg?color_bg=#120A24&color_snake=#423170&color_dots=#E0BBE4,#CBAEDB,#A68CBE,#FF5FA2,#7A003C
            dist/snake.gif?color_bg=#120A24&color_snake=#423170&color_dots=#E0BBE4,#CBAEDB,#A68CBE,#FF5FA2,#7A003C&max_steps=15000
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: output
          publish_dir: ./dist
          force_orphan: true
