name: Generate MultiSnake

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Generate MultiSource Snake animation
        uses: Zqzqsb/MultiSourceSnake@v1.0
        with:
          GITHUB_USER: PixelByKhadija
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          outputs: |
            dist/github-snake.svg?color_snake=#4B0082&color_dots=#FFC0CB,#FFB6C1,#FF69B4,#FF1493,#C71585
            dist/github-snake-dark.svg?color_snake=#4B0082&color_dots=#FFC0CB,#FFB6C1,#FF69B4,#FF1493,#C71585

      - name: Push GitHub Snake animation to the output branch
        uses: crazy-max/ghaction-github-pages@v2.5.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
